{
  "image_configuration": {
    "images": {
      "battery_0.png": {
        "format": "ARGB8888"
      },
      "battery_10.png": {
        "format": "ARGB8888"
      },
      "battery_2.png": {
        "format": "ARGB8888"
      },
      "battery_4.png": {
        "format": "ARGB8888"
      },
      "battery_6.png": {
        "format": "ARGB8888"
      },
      "battery_8.png": {
        "format": "ARGB8888"
      },
      "battery_charging.png": {
        "format": "ARGB8888"
      },
      "chat_icon.png": {
        "format": "L8_RGB888"
      },
      "signal_1.png": {
        "format": "RGB888"
      },
      "signal_2.png": {
        "format": "RGB888"
      },
      "signal_3.png": {
        "format": "RGB888"
      },
      "signal_4.png": {
        "format": "RGB888"
      },
      "signal_5.png": {
        "format": "RGB888"
      },
      "signal_locked.png": {
        "format": "RGB888"
      },
      "signal_off.png": {
        "format": "RGB888"
      },
      "system_icon.png": {
        "format": "L8_RGB888"
      },
      "splash.png": {
        "format": "L8_RGB888"
      }
    },
    "dither_algorithm": "2",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "RGB888",
    "nonopaque_image_format": "ARGB8888",
    "section": "IntFlashSection",
    "extra_section": "IntFlashSection"
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "24",
    "font_format": "0"
  }
}